.container{
	padding: 5px 20px;
	background-color: #F0F4F5;
}

.inactive{
	display: none;
}

h1{
	margin: 10px 0px;
	padding: 0px 10px;
}
.search{
	height: 40px;
	float: right;
}
.home{
	height: 40px;
	float: right;
	display: none;
}
.beer-list{
	padding: 10px;
	height: 80vh;
    overflow: scroll;
}

.title-section, .beer-description{
	padding: 10px;

}

.title{
	font-weight: bold;	
	font-size: 20px;
}
.beer-row{
	margin-bottom: 30px;
    box-shadow: 1px 1px 10px 2px grey;
    background-color: white;
}
.button-secondary, .button-success{
	border-radius: 0px;
	width: 100%;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	color: white;
}

.button-secondary{
	background-color: #0078e7;
}

.button-success{
	background-color: rgb(28, 184, 65);
}

.beer-description{
	display: none;
}
.beer-image{
	height: 64px;
    width: 64px;
    margin-right: 10px;
}
