.container{
	padding: 5px 20px;
}

.inactive{
	display: none;
}

h2{
	margin: 10px 0px;
}
.beer-list{
	padding: 0px;
	margin: 0px;
	height: 80vh;
    overflow: scroll;
}

.title-section{
	padding: 10px 0px;

}

.title{
	font-weight: bold;	
}
.beer-row{
	padding: 10px 0px;
	border-bottom: thin solid #D3D3D3;
	
}
.beer-row:first-child{
	padding-top: 0px;
}

.beer-description{

}
.beer-image{
	height: 64px;
    width: 64px;
    margin-right: 10px;
}

.style, .abv{
	font-size: .8rem;
}

.beer-body{
	/*
	display: inline-block;
    float: left;
    position: absolute;*/
}