.container{
	padding: 5px 20px;
}

.inactive{
	display: none;
}

h2{
	margin: 10px 0px;
}
.beer-list{
	padding: 10px;
	height: 80vh;
    overflow: scroll;
}

.title-section, .beer-description{
	padding: 10px;

}

.title{
	font-weight: bold;	
}
.beer-row{
	margin-bottom: 30px;
    box-shadow: 1px 1px 10px 2px lightgrey;
}
img{
	height: 200px;
}
.beer-description{
	display: none;
}
.beer-image{
	height: 64px;
    width: 64px;
    margin-right: 10px;
}

.style, .abv, .toggle{
	font-size: .8rem;
}

.toggle{
	color: rgb(61, 146, 201);
}

.beer-body{
	/*
	display: inline-block;
    float: left;
    position: absolute;*/
}